/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
  margin: 0;
  /* font-family: "Quicksand"; */
  font-family: 'Otomanopee One', sans-serif;
  color: #333;
}

.content {
  padding: 120 120px;
  height: 55vh;
  width: 200vh;
  margin: 60 auto;
  background-color: #ffffff;
}

.Navbar {
  display: flex;
  padding: 20px;
  align-items: left;
  max-height: 2000px;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #481D1D;
}

.logoHeader{
  display: flex;
  align-items: left;
  max-height: 70px;
  max-width: 70px;
  margin: 0 auto;
}

.Footer {
  display: flex;
  padding: 20px;
  align-items: right;
  max-height: 2000px;
  max-width: 2000px;
  margin: 200 auto;
  background-color: #1D4848;
}

.logoFooter{    
  position: fixed;
  display:flex;
  bottom: 0;
  max-height: 70px;
  max-width: 70px;
  right: 100px;
}

.Navbar h1 {
  color: #000000;
}
.NavBar h5 {
  color: #B51E1E;
}

.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
}
.Navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
}

.Home {
  display: inline-block;
  align-items: left;
  max-width: 600px;
  margin: 50 auto;
}

.Home h1{
  color: #000000;
}

.Home h5{
  color: #B51E1E;
}
/* blog previews / list */

.GoalCollaboration {
  display: inline-block;
  align-items: left;
  width: 600px;
  margin: 50 auto;
}

.GoalCollaboration h1{
  color: #000000;
}

.GoalCollaboration h4{
  color: #B51E1E;
}

.GoalCollaboration h5{
  color: #B51E1E
}

.GoalCollaboration h5{
  color: #B51E1E
}

.Solution {
  padding: 40px;
  display: inline-block;
  align-items: left;
  max-width: 600px;
  margin: 50 auto;
}


.Solution h1{
  color: #000000;
}

.Solution h5{
  color: #B51E1E;
}

.AboutUs {
  padding: 40px;
  display: inline-block;
  align-items: left;
  max-width: 600px;
  margin: 80 auto;
}

.AboutUs h1{
  color: #000000;
}

.AboutUs h5{
  color: #B51E1E;
}

.Relevance {
  padding: 40px;
  display: inline-block;
  align-items: left;
  max-width: 600px;
  margin: 50 auto;
  border-bottom: 1px solid #f2f2f2;
}

.Relevance h1{
  color:#000000;
}

.Relevance h5{
  color: #B51E1E;
}

.blog-preview {
  padding: 40px 60px;
  margin: 40px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 40px;
  color: #f1356d;
  margin-bottom: 8px;
}
