/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
  margin: 0;
  /* font-family: "Quicksand"; */ 
  font-family: 'Otomanopee One', sans-serif;
  color: #333;
}

.content {
  padding: 120 120px;
  height: 55vh;
  width: 200vh;
  margin: 60 auto;
  background-color: #ffffff;
}

.Navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  max-height: 2200px;
  max-width: 2200px;
  margin: 0 auto;
  background-color: #481D1D;
}

.logoHeader{
  position: fixed;
  display: flex;
  top: 0;
  max-height: 110px;
  max-width: 130px;
  left: 0px;
}

.Footer {
  display: flex;
  padding: 14px;
  align-items: right;
  max-height: 2400px;
  max-width: 2200px;
  background-color: #1D4848;
}

.logoFooter{    
  position: fixed;
  display:flex;
  bottom: 0;
  max-height: 110px;
  max-width: 110px;
  right: 0px;
}

.Footer h2{
  margin: 500 auto;
  color: #ffffff;
}

.fa {
  padding: 8px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  display: flex;
  margin-left: 200px;
  border-radius: 25%;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  border-radius: 25%;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  border-radius: 25%;
  color: white;
}

.fa-instagram {
  background: #125688;
  border-radius: 25%;
  color: white;
}

.Navbar h1 {
  color: #000000;
}
.NavBar h5 {
  color: #B51E1E;
}

.Navbar .links {
  margin-left: auto;
}

.Navbar a {
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
}
.Navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
}

.Home {
  display: inline-block;
  align-items: left;
  max-width: 600px;
  margin: 50 auto;
}

.Home h1{
  color: #000000;
}

.Home h5{
  color: #B51E1E;
}
/* blog previews / list */

.GoalCollaboration {
  display: inline-block;
  align-items: center;
  width: 600px;
  margin: 50 auto;
}

.GoalCollaboration h1{
  display: flex;
  color: #000000;
}

.GoalCollaboration h4{
  display: flex;
  color: #B51E1E;
}

.GoalCollaboration h5{
  display: flex;
  color: #B51E1E
}

.GoalCollaboration h6{
  display: flex;
  color: #B51E1E
}

.Solution {
  display: inline-block;
  align-items: center;
  width: 600px;
  margin: 50 auto;
}


.Solution h1{
  color: #000000;
}

.Solution h4{
  display: flex;
  color: #B51E1E;
}

.Solution h5{
  color: #B51E1E;
}

.Solution h6{
  color: #B51E1E;
}

.AboutUs {
  display: inline-block;
  align-items: center;
  width: 1000px;
  margin: 50 auto;
}

.AboutUs img{
  display: flex;
  align-items: center;
  margin-right: 100px;
  max-width: 150px;
  max-height: 150px;
  margin-left: 800px;
  border-radius: 50%;

}

.AboutUs h1{
  color: #000000;
}

.AboutUs h5{
  color: #B51E1E;
}

.AboutUs h6{
  color: #B51E1E;
}

.AboutUs a{
  color: #B51E1E;
}

.Relevance {
  /* display: inline-block; */
  display: inline-block;
  align-items: center;
  max-width: 1000px;
  margin: 50 auto;
}

.Relevance h1{
  color:#000000;
}

.Relevance h5{
  color: #B51E1E;
}

.Relevance h6{
  color: #B51E1E;
}

.blog-preview {
  padding: 40px 60px;
  margin: 40px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 40px;
  color: #f1356d;
  margin-bottom: 8px;
}
